.alumno-list {
  margin: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: white; /* Asegúrate de que el fondo del contenedor general sea blanco */
}

.alumno-list h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  color: #333; /* Color oscuro para el título */
}

.alumno-list ul {
  list-style: none;
  padding: 0;
}

.alumno-item {
  background-color: #f9f9f9; /* Fondo claro para cada item */
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  color: #333; /* ¡Asegura un color de texto oscuro para los elementos de la lista! */
}

.alumno-item strong {
  font-weight: bold;
}

.alumno-item br {
  margin-bottom: 5px;
}

.alumno-list p {
  font-style: italic;
  color: #777;
}
