.alumno-list {
  margin: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: white; 
}

.alumno-list h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  color: #333; 
}

.alumno-list ul {
  list-style: none;
  padding: 0;
}

.alumno-item {
  background-color: #f9f9f9; 
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  color: #333; 
}

.alumno-item strong {
  font-weight: bold;
}

.alumno-item br {
  margin-bottom: 5px;
}

.alumno-list p {
  font-style: italic;
  color: #777;
}
